.row-center-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row-space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row-left-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.row-right-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.col-start-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.col-center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-space-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
