@mixin row {
  display: flex;
  flex-direction: row;
}

.row-center-box {
  @include row;
  align-items: center;
  justify-content: center;
}

.row-space-between {
  @include row;
  align-items: center;
  justify-content: space-between;
}

.row-left-align {
  @include row;
  align-items: center;
  justify-content: flex-start;
}

.row-right-align {
  @include row;
  align-items: center;
  justify-content: flex-end;
}

.row-top-between {
  @include row;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin col {
  display: flex;
  flex-direction: column;
}

.col-start-box {
  @include col;
  align-items: center;
  justify-content: flex-start;
}

.col-center-box {
  @include col;
  align-items: center;
  justify-content: center;
}

.col-space-between {
  @include col;
  align-items: center;
  justify-content: space-between;
}

.col-left-align {
  @include col;
  align-items: flex-start;
  justify-content: center;
}
